/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.alert-appear{
  opacity: 0.01;
}

.alert-enter.alert-appear-active {
  opacity: 1;
  transition: opacity 300ms linear;
}